* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* background-color: rgb(251, 222, 194);
  color: black;  */
  
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .first-div {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
header .first-div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

header .first-div h3 {
  display: inline-block;
  color: white;
}

header {
  /* background-color: rgb(31, 17, 0); */
  background-color: rgb(15, 9, 6);
  height: 70px;
}

header .second-div {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px;
}

header .second-div a:link,
a:visited {
  color: white;
  text-decoration: none;
}

header .third-div button {
  padding: 10px;
  margin-right: 1rem;
  border-radius: 10px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 4px;
  margin: 0 120px;
}

.hero-video {
  width: 100%;
  max-height: 630px;
  object-fit: cover;
  border-radius: 20px;
  margin: 10px;
}

.hero-section-description {
  flex: 1; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.hero-section-description h1{
  font-size: 70px;
}
