* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  /* background-color: rgb(251, 222, 194);
  color: black;  */

  /* background: radial-gradient(
    circle at center,
    #1a1a1a 0%,
    #0b0b0b 40%,
    #000000 100%
  ); */

 
 background: radial-gradient(
  circle at center,
  #3e2f28 0%,   
  #231712 40%, 
  #0f0806 100%  
); 

/* background: radial-gradient(
  circle at center,
  #5d4037 0%,   
  #3e2723 40%,  
  #1b100d 100% 
); */

/* background: radial-gradient(
  circle at center,
  #8d6e63 0%,  
  #4e342e 40%,  
  #1f1411 100%  
); */

  color: whitesmoke;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .first-div {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
header .first-div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

header .first-div h3 {
  display: inline-block;
  color: white;
}

header {
  /* background-color: rgb(31, 17, 0); */
  /* background-color: rgba(41, 27, 21, 0.57); */
  background-color: #24160a;
  /* background-color: #302114ec; */
  /* background-color: #302114; */
  /* background-color: #3d261090; */

  height: 70px;
  color: #f5f5f5;
  border-bottom: 1px solid rgba(248, 248, 248, 0.162);
  border-radius: 10px;
}

header .second-div {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px;
}

header .second-div a:link,
a:visited {
  color: white;
  text-decoration: none;
}

/* header .second-div a:link:first-child,
a:visited:first-child {
  font-weight: bold;
} */

header .third-div button {
  padding: 10px;
  margin-right: 1rem;
  border-radius: 10px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 4px;
  margin: 0 120px;
}

.hero-video {
  width: 100%;
  max-height: 630px;
  object-fit: cover;
  border-radius: 20px;
  margin: 10px;
}

.hero-section-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.hero-section-description h1 {
  font-size: 65px;
  word-spacing: -3px;
  line-height: 1;
}

.hero-section-description p {
  word-spacing: 3px;
  opacity: 70%;
  line-height: 1.4;
}