* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* #cart-table,
th,
td {
  padding: 20px;
  border: 1px solid black;
  border-collapse: collapse;
} */

/* #cart-table {
  margin: auto;
} */

body {
  background: radial-gradient(
    circle at center,
    #3e2f28 0%,
    #231712 40%,
    #0f0806 100%
  );
}

.header-shopping-cart {
  text-align: center;
  margin: 2rem auto;
  box-shadow: 0 0 25px rgba(255, 192, 149, 0.151);
  padding: 2.5rem;
  border-radius: 10px;
  width: 90%;
  color: white;
  font-size: 3rem;
}

.cart-total-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1rem;
  column-gap: 4rem;
}

.grid-cart-row-head ,.grid-cart-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  /* margin: 2rem; */
  background-color: #69493a3c;
  border-radius: 5px;
  /* border-bottom: 1px solid rgb(158, 158, 158); */
  margin-bottom: 0.5rem;
  color: white;
  margin-left: 1.5rem;
}

/* .grid-cart-row-head > div{
  text-align: center;
  padding: 2rem;
} */

.grid-cart-row-head {
  background: radial-gradient(
    circle at center,
    #3e2f28 0%,
    #231712 40%,
    #0f0806 100%
  );
  font-weight: bold;
  color:white;
  border: 1px solid white;
}

.grid-cart-row-head > div, .grid-cart-row > div {
  /* background-color: #0091ff; */
  text-align: center;
  padding: 2rem;
  /* border-radius: 10px; */
  /* border-right: 1px solid rgba(193, 191, 191, 0.282); */
}

#order-sum-heading {
  align-self: center;
}

.summary-info-grid {
  min-width: 300px;
  max-width: 0%;
  height: fit-content;
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 218, 178);
  padding: 1rem;
  border-radius: 1rem;
  color: black;
}

.coupon-section {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}
.coupon-section input {
  padding: 0.2rem;
  border-radius: 1rem;
  display: inline-block;
  width: 8rem;
}

.summary-info-grid div {
  margin-top: 1rem;
}

.summary-element {
  display: flex;
  justify-content: space-between;
}

/* .total-checkout-grp {
  text-align: center;
  margin-top: 30px;
} */

#checkout-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: #0091ff;
  color: white;
  cursor: pointer;
  align-self: center;
  /* margin: 5% 5%; */
  width: 85%;
}

/* #cart-reset-btn {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #dc0303;
  color: white;
  font-size: 16px;
  cursor: pointer;
} */

.cart-items-desc .grid-cart-row div {
  background-color: rgb(254, 173, 162);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
}
